# Sakila Core

## SQL Alchemy and Pandas Prep

In [6]:
# imports
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [7]:
# user and pass
username = 'root'
password = 'root'

In [8]:
# accessing mysql workbench in sakila db
connection = f'mysql+pymysql://{username}:{password}@localhost/sakila'
engine = create_engine(connection)

In [9]:
# running engine
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [10]:
# showing the tables in sakila
q = '''SHOW TABLES'''
pd.read_sql(q,engine)

              Tables_in_sakila
0                        actor
1                   actor_info
2                      address
3                     category
4                         city
5                      country
6                     customer
7                customer_list
8                         film
9                   film_actor
10               film_category
11                   film_list
12                   film_text
13                   inventory
14                    language
15  nicer_but_slower_film_list
16                     payment
17                      rental
18      sales_by_film_category
19              sales_by_store
20                       staff
21                  staff_list
22                       store

## 1. What query would you run to get all the customers inside city_id = 312?  Your query should return the customers' first name, last name, email, address, and city.